@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a{
	text-decoration: none;
	&:focus,
	&:active {
		outline: none;
	}
	&:visited {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
}

nav,
footer,
header,
section,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	text-size-adjust: 100%;
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
	min-width: 320px;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

ul {
	li {
		list-style: none;
	}
} 

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*------------------------------------------*/

body {
	background-color: #808080;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 30px;
}

.resume {
	padding: 20px 20px;
	display: flex;
	&__info {
		width: 35%;
		background-color: #000;
		color: #fff;
		padding: 40px 30px;
	}
	&__info-image {
		width: 200px;
		height: 200px;
		margin: 0 auto 40px;
		img {
			display: block;
			border-radius: 50%;
			background-size: cover;
			max-width: 100%;
			height: auto;
		}
	}
	&__info-skills {
		padding: 0 0 30px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 270px;
			left: 0;
			width: 100px;
			height: 1px;
			background-color: #fff;
		}
		h3 {
			font-size: 30px;
			margin: 0 0 20px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 37px;
				left: 2px;
				width: 100px;
				height: 1px;
				background-color: #fff;
			}
		}
		ul {
			li {
				margin: 0 0 10px;
				opacity: 0.8;
				transition: 0.2s linear;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	&__info-education {
		padding: 0 0 30px;
		h3 {
			font-size: 30px;
			margin: 0 0 20px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 37px;
				left: 2px;
				width: 100px;
				height: 1px;
				background-color: #fff;
			}
		}
		p {
			line-height: 1.4;
			font-size: 15px;
		}
	}
	&__info-contacts {
		padding: 0 0 30px;
		h3 {
			font-size: 30px;
			margin: 0 0 20px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 37px;
				left: 2px;
				width: 100px;
				height: 1px;
				background-color: #fff;
			}
		}
	}
	&__info-contacts-phone {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		img {
			margin-right: 20px;
			opacity: 0.7;
			transition: 0.3s linear;
			&:hover {
				opacity: 1;
			}
		}
		&-link {
			transition: 0.3s linear;
			opacity: 0.8;
			text-decoration: none;
			color: #fff;
			&:hover {
				margin-left: -10px;
				opacity: 1;
			}
		}
	}
	&__info-contacts-telegram {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		img {
			margin-right: 20px;
			opacity: 0.7;
			transition: 0.3s linear;
			&:hover {
				opacity: 1;
			}
		}
		&-link {
			transition: 0.3s linear;
			opacity: 0.8;
			text-decoration: none;
			color: #fff;
			&:hover {
				margin-left: -10px;
				opacity: 1;
			}
		}
	}
	&__info-contacts-mail {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		img {
			margin-right: 20px;
			opacity: 0.7;
			transition: 0.3s linear;
			&:hover {
				opacity: 1;
			}
		}
		&-link {
			transition: 0.3s linear;
			opacity: 0.8;
			text-decoration:none;
			color: #fff;
			&:hover {
				margin-left: -10px;
				opacity: 1;
			}
		}
	}
	&__info-contacts-github {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		img {
			margin-right: 20px;
			transition: 0.3s linear;
			opacity: 0.7;
			&:hover {
				opacity: 1;
			}
		}
		&-link {
			transition: 0.3s linear;
			opacity: 0.8;
			text-decoration: none;
			color: #fff;
			&:hover {
				margin-left: -10px;
				opacity: 1;
			}
		}
	}
	&__info-contacts-instagram {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		img {
			margin-right: 20px;
			transition: 0.3s linear;
			opacity: 0.7;
			&:hover {
				opacity: 1;
			}
		}
		&-link {
			transition: 0.3s linear;
			opacity: 0.8;
			text-decoration: none;
			color: #fff;
			&:hover {
				margin-left: -10px;
				opacity: 1;
			}
		}
	}
	&__info-contacts-facebook {
		display: flex;
		align-items: center;
		img {
			margin-right: 20px;
			transition: 0.3s linear;
			opacity: 0.7;
			&:hover {
				opacity: 1;
			}
		}
		&-link {
			transition: 0.3s linear;
			opacity: 0.8;
			text-decoration: none;
			color: #fff;
			&:hover {
				margin-left: -10px;
				opacity: 1;
			}
		}
	}
	&__main {
		width: 65%;
		background-color: white;
		text-align: center;
		padding: 40px 30px;
		&-info {
			padding: 0 0 75px;
			border-bottom: 1px solid black;
			display: flex;
			flex-direction: column;
			&-input {
				display: none;
			}
			label[for="lang"] {
				padding: 15px;
				color: #fff;
				display: block;
				align-self: flex-end;
				background-color: #000;
				margin-bottom: 17px;
				border-radius: 20px;
				font-size: 17px;
				font-weight: bold;
				opacity: 0.8;
				transition: 0.3s opacity;
				cursor: pointer;
				&:hover {
					opacity: 1;
				}
			}
			h1 {
				font-size: 35px;
				font-weight: bold;
				margin: 0 0 35px;
				position: relative;
			}
			h2 {
				font-size: 20px;
			}
		}
	}
	&__main-about {
		padding: 8px 0;
		text-align: left;
		h3 {
			font-size: 30px;
			padding: 0 0 20px 0;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 37px;
				left: 0;
				width: 100px;
				height: 1px;
				background-color: #000;
			}
		}
		p {
			font-size: 17px;
			line-height: 1.5;
		}
	}
	&__main-softskills {
		padding: 8px 0;
		text-align: left;
		h3 {
			font-size: 30px;
			padding: 0 0 20px 0;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 37px;
				left: 0;
				width: 100px;
				height: 1px;
				background-color: #000;
			}
		}
		p {
			font-size: 17px;
			line-height: 1.5;
		}
	}
	&__main-portfolio {
		padding: 8px 0;
		text-align: left;
		h3 {
			font-size: 30px;
			padding: 0 0 40px 0;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 37px;
				left: 0;
				width: 100px;
				height: 1px;
				background-color: #000;
			}
		}
	}
	&__main-portfolio-links {
		display: flex;
		justify-content: space-between;
		a {
			padding: 0 20px 0 0;
			img {
				display: block;
				background-size: cover;
				max-width: 100%;
				height: auto;
				border-radius: 15px;
				transition: 0.2s linear;
				&:hover {
					max-width: 98%;
				}
			}
		}
	}
}

/*------------------------------------------*/

@media (max-width: 1199px) {
	.container {
		width: 100%;
	}
}

@media (max-width: 991px) {
	.container {
		width: 100%;
	}

	.resume__info {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.container {
		width: 100%;
		padding: 0;
	}

	.resume {
		flex-direction: column-reverse;
	}

	.resume__info {
		width: 100%;
	}

	.resume__main {
		width: 100%;
	}

	.resume__main-info {
		position: relative;
		padding-bottom: 270px;
	}

	.resume__info-image {
		position: absolute;
		top: 250px;
		left: 36%;
		width: 28%;
		height: 100%;
		display: block;
		background-size: cover;
	}

	.resume__main-portfolio-links {
		flex-direction: column;
		a {
			padding-bottom: 20px;
		}
	}
}

@media (max-width: 575px) {
	.container {
		width: 100%;
	}
	
	.resume__info-image {
		position: absolute;
		top: 250px;
		left: 32%;
		width: 35%;
		height: 100%;
		display: block;
		background-size: cover;
		padding-top: 30px;
	}
}
